.footer {
  .fylo-logo {
    width: 9rem;
  }

  .flex-row {
    #flexbox-mixin.flex-row(@vertical:flex-start);
  }
  
  .flex-column {
    #flexbox-mixin.flex-column();
  }
  .attribution {
    font-size: 12px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
