body {
  max-width: 1440px;
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  margin: 0 auto;
}

h1,
h2 {
  padding-bottom: 10px;
  font-weight: 700;
}

p {
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

a,
p > a {
  &:hover {
    color: @color-white;
  }
}

button {
  &:hover {
    cursor: pointer;
  }
}
.nav-intro {
  font-family: "Raleway", sans-serif;
  background-color: hsl(217, 28%, 15%);
  padding: 3.5%;
}

.container,
.footer {
  font-family: "Open Sans", cursive;
  background-color: hsl(218, 28%, 13%);
  padding: 3.5%;
  margin-top: -1px;
}
