* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  color: hsl(0, 0%, 100%);
  font-size: 14px;
}
h1,
h2 {
  padding-bottom: 10px;
  font-weight: 700;
}
p {
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
}
a:hover,
p > a:hover {
  color: hsl(0, 0%, 100%);
}
button:hover {
  cursor: pointer;
}
.nav-intro {
  font-family: "Raleway", sans-serif;
  background-color: hsl(217, 28%, 15%);
  padding: 3.5%;
}
.container,
.footer {
  font-family: "Open Sans", cursive;
  background-color: hsl(218, 28%, 13%);
  padding: 3.5%;
}
.footer {
  background-color: hsl(216, 53%, 9%);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 6rem;
}
header .nav a {
  color: hsl(0, 0%, 100%);
  font-size: 0.8rem;
  text-decoration: none;
  margin-left: 1.2rem;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid hsl(0, 0%, 100%);
}
header .nav a:hover {
  color: grey;
  border-bottom: 2px solid grey;
}
.intro-cta {
  width: 50%;
  margin: 0 auto;
  padding: 1em 0 1.5em;
  text-align: center;
}
.intro-cta h1 {
  font-size: 2rem;
  padding: 1.5rem 0;
}
.intro-cta button {
  border: none;
  padding: 0.5rem 4rem;
  margin: 1rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(198, 60%, 50%);
  border-radius: 1rem;
}
.features {
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.features .feature {
  width: 42.5%;
  text-align: center;
  padding-bottom: 5em;
}
.cta-demo {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cta-demo img,
.cta-demo div {
  width: 47.5%;
}
.cta-demo div h2 {
  font-size: 2em;
}
.cta-demo div p {
  padding-bottom: 1em;
  line-height: 1.5;
}
.cta-demo div a {
  color: hsl(176, 68%, 64%);
  text-decoration: none;
  padding-bottom: 0.2em;
  border-bottom: 1px solid;
}
.cta-demo div a:hover {
  color: hsl(0, 0%, 100%);
}
.cta-demo div a:after {
  content: url("../images/icon-arrow.svg");
  position: relative;
  top: 2.5px;
  left: 3px;
}
.attribution {
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
