* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  margin: 0 auto;
}
h1,
h2 {
  padding-bottom: 10px;
  font-weight: 700;
}
p {
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
}
a:hover,
p > a:hover {
  color: hsl(0, 0%, 100%);
}
button:hover {
  cursor: pointer;
}
.nav-intro {
  font-family: "Raleway", sans-serif;
  background-color: hsl(217, 28%, 15%);
  padding: 3.5%;
}
.container,
.footer {
  font-family: "Open Sans", cursive;
  background-color: hsl(218, 28%, 13%);
  padding: 3.5%;
  margin-top: -1px;
}
.footer {
  background-color: hsl(216, 53%, 9%);
  padding-top: 9%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 6rem;
}
header .nav a {
  color: hsl(0, 0%, 100%);
  font-size: 0.8rem;
  text-decoration: none;
  margin-left: 1.2rem;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid hsl(0, 0%, 100%);
}
header .nav a:hover {
  color: grey;
  border-bottom: 2px solid grey;
}
.intro-cta {
  width: 50%;
  margin: 0 auto;
  padding: 1em 0 1.5em;
  text-align: center;
}
.intro-cta h1 {
  font-size: 2rem;
  padding: 1.5rem 0;
}
.intro-cta button {
  border: none;
  padding: 0.5rem 4rem;
  margin: 1rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(198, 60%, 50%);
  border-radius: 1rem;
}
.features {
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.features .feature {
  width: 42.5%;
  text-align: center;
  padding-bottom: 5em;
}
.cta-demo {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cta-demo img,
.cta-demo div {
  width: 47.5%;
}
.cta-demo div h2 {
  font-size: 2em;
}
.cta-demo div p {
  padding-bottom: 1em;
  line-height: 1.5;
}
.cta-demo div a {
  color: hsl(176, 68%, 64%);
  text-decoration: none;
  padding-bottom: 0.2em;
  border-bottom: 1px solid;
}
.cta-demo div a:hover {
  color: hsl(0, 0%, 100%);
}
.cta-demo div a:after {
  content: url("../images/icon-arrow.svg");
  position: relative;
  top: 2.5px;
  left: 3px;
}
.testimonials {
  position: relative;
  margin: 6rem 0 0;
  display: flex;
  justify-content: space-between;
}
.testimonials .quote-mark {
  position: absolute;
  top: -40px;
  left: -10px;
}
.testimonials > div {
  width: 32%;
  padding: 1rem;
  background-color: hsl(219, 30%, 18%);
  z-index: 11;
}
.testimonials > div .text {
  padding: 1rem 0;
}
.testimonials > div .name-and-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.testimonials > div .name-and-image img {
  width: 3rem;
  border-radius: 50%;
  margin-right: 10px;
}
.testimonials > div .name-and-image > div > p {
  font-size: 12px;
}
.cta {
  position: relative;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 1.5rem 1rem;
  top: 120px;
  z-index: 11;
  background: hsl(217, 28%, 15%);
}
.cta .cta-header {
  font-size: 25px;
  letter-spacing: 0.5px;
}
.cta .cta-text {
  padding: 1rem;
  width: 85%;
  margin: auto;
}
.cta form {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.cta form input {
  width: 63%;
  border-radius: 25px;
  border: none;
  padding: 0.75rem;
}
.cta form button {
  color: white;
  width: 34%;
  background-color: hsl(198, 60%, 50%);
  border: none;
  border-radius: 25px;
}
.footer .fylo-logo {
  width: 9rem;
  margin-bottom: 1rem;
}
.footer .flex-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .contact-icon {
  margin-right: 10px;
  padding-top: 5px;
}
.footer .address {
  width: 30%;
}
.footer .contact > div {
  padding-bottom: 0.75rem;
}
.footer .contact a,
.footer nav > a {
  color: white;
  text-decoration: none;
}
.footer .contact a:hover,
.footer nav > a:hover,
.footer .contact a:focus,
.footer nav > a:focus,
.footer .contact a:active,
.footer nav > a:active {
  color: hsl(228, 45%, 44%);
  text-decoration: underline;
}
.footer nav > a {
  padding-bottom: 0.75rem;
}
.footer ion-icon {
  font-size: 24px;
  padding-left: 5px;
}
.footer .attribution {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}
.footer .attribution a {
  color: hsl(228, 45%, 44%);
}
.footer .attribution a:hover,
.footer .attribution a:focus,
.footer .attribution a:active {
  color: white;
  font-size: 12.25px;
}
